# Virtual environment
venv/
.venv/
tryawsmcp/

# Environment variables
.env

# Uploaded files directory
uploads/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
